body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  background-color: #e2e8f0;
  padding: 40px;
}
.app{
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 40px;
  margin: auto;
  margin-top: 25px;
  width: 70%;

  label {
    margin: 10px 0;
    font-size: 12px;
    color: hsl(213, 96%, 18%);
    font-weight: 600;
  }

  button {
    margin-top: 30px;
    margin-left: 38%;
    display: inline-block;
    padding: 10px 17px;
    background-color: hsl(212, 84%, 22%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px;
  }

  button:hover {
    background-color: hsl(212, 83%, 39%);
}
}
.app h1 {
  margin-left: 30%;
  color: hsl(213, 96%, 18%);
}
.app .provide-info {
  color: hsl(231, 11%, 63%);
  margin-left: 30%;
  margin-top: -15px;
  font-size: 12px;
  margin-bottom: 30px;
}

.form {
  margin-left: 30%;
}
input {
  padding: 10px 0;
  border-radius: 0.125rem;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 8px;
  background-color: #fdfdfe;
  padding-inline-start: 0.75rem;
  font-size: 0.875rem;
  display: block;
  margin: 7px;
  margin-left: 0;
  width: 63%;
}
input:focus {
  border: 1.32px solid hsl(243, 68%, 45%);
  outline: none;
}
input::placeholder {
  font-size: 10px;
  font-weight: 400;
}
.get-details-btn {
  font-size: 12px;
  font-weight: 600;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
  float: left;
  margin-top: 35px;
}
.get-details-btn:hover {
  color: hsl(212, 84%, 22%);
}
.entity-details {
  color: hsl(212, 84%, 22%);
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  bottom: 95px;
  left: 43%
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.entity-details {
  animation: blink 2s infinite; /* Adjust the duration as needed */
}